<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']"><img class="logo" src="assets/logo-transparent.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/tech']">Tech News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/business']">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/sports']">Sports</a>
        </li>
      </ul>
      <div class="right-nav">
        <form class="form-inline">
          <div class="input-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchTerm"
              (keyup)="onKey($event)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onClickMe()"
              [routerLink]="['/search']">Search</button>
          </div>
        </form>
        <a class="nav-link profile-link" aria-current="page" [routerLink]="['/profile']">
          <img src="assets/images/usericon.png" style="width: 25px;"> My Profile</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid mt-5 articles">

  <h4>Top Headlines</h4>
  <div class="row">

    <div *ngFor="let d of topheadingDisplay" class="col-lg-3 mt-3 mb-3">

      <div class="box">
        <img src="{{d.urlToImage}}" width="100%">
        <h5 class="mt-2 mb-2">{{d.title}}</h5>
        <a href="{{d.url}}" target="_blank" class="btn btn-dark btn-sm mt-2">Read More</a>
      </div>

    </div>


  </div>


</div>