/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    padding: 10px 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.box h5{
    font-size: 18px;
}
.box:hover{
    box-shadow: darkgray 0px 4px 8px 4px;
}
.nav-link:hover{
    background-color: #2B602C;
    color: white;
}
.logo{
    width: 150px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}
.authBlock{
    text-align: center;
}
.redirectToLogin{
    text-align: center;
    margin-bottom: 25px;
}

.forgotPassword{
    text-align: center;
}
.redirect:hover{
    color: #0d6efd;
    cursor: pointer; 
}
.forgotPassword:hover{
    color: #0d6efd;
    cursor: pointer;
}
.card{
    box-shadow: 0px 4px 4px 8px lightgray;
}
.google{
    width: 35px;
}